<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="bg-info">
    <header>
        <div class="header container-fluid container-lg d-flex justify-content-between">
                <div class="on_main">
                    <a href="/" class="text-dark">На главную</a>
                </div>
                {% if current_user.is_authenticated %}
                <div>
                    <span>{{ current_user.name }}</span>
                </div>
                <div class="user_header">
                    <a href="/admin" class="text-dark">Админка</a>
                    <a href="/logout/{{current_user.name}}" class="text-dark">Выйти</a>
                </div>
                {% endif %}
        </div>
    </header>
    <main>
        <div class="container container-lg d-flex flex-column align-items-center bg-info">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>